<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.xworkz.spring.component.Power" id="power">
		<constructor-arg value="true"></constructor-arg>
	</bean>

	<bean class="com.xworkz.spring.component.Motor" id="motor">
		<property name="warrantyPeriod" value="3"></property>
	</bean>

	<bean class="com.xworkz.spring.component.WashingMachine" id= "washingMachine">
		<property name="companyName" value="Onida"></property>
		<property name="capacity" value="5.4"></property>
		<property name="motor" ref="motor"></property>
		<property name="pow" ref="power"></property>
	</bean>

</beans>